
## Filtering and selecting data using numpy and pandas

In [1]:
import numpy as np
import pandas as pd
#Pandas is built on top of the numpy package

from pandas import Series, DataFrame

### Selecting and retrieving data
You can write an index value in two forms.
using the "label" 
using the "index"

In [2]:
#lets create a series using the series constructor
series_1 = Series(np.arange(7), index=['row a', 'row b', 'row c', 'row d', 'row e', 'row f','row g'])
#note the spelling of the range given above, don't write arrange or it will give an error
series_1

row a    0
row b    1
row c    2
row d    3
row e    4
row f    5
row g    6
dtype: int32

In [3]:
#Next we can use label index to access the get the value
series_1['row d']

3

In [4]:
series_1[[0, 3]]
#accessing multiple values in a list by passing arguments

row a    0
row d    3
dtype: int32

In [5]:
#creating a dataframe using numpy
np.random.seed(42) #fixing this number to a const. will ensure the same series or else it will generate a new df everytime
DF = DataFrame(np.random.rand(64).reshape((8,8)),
                   index=['r1', 'r2', 'r3', 'r4','r5','r6','r7','r8'],
                   columns=['c1','c2','c3','c4','c5','c6','c7','c8'])
DF

,c1,c2,c3,c4,c5,c6,c7,c8
r1,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,0.058084,0.866176
r2,0.601115,0.708073,0.020584,0.969910,0.832443,0.212339,0.181825,0.183405
r3,0.304242,0.524756,0.431945,0.291229,0.611853,0.139494,0.292145,0.366362
r4,0.456070,0.785176,0.199674,0.514234,0.592415,0.046450,0.607545,0.170524
r5,0.065052,0.948886,0.965632,0.808397,0.304614,0.097672,0.684233,0.440152
r6,0.122038,0.495177,0.034389,0.909320,0.258780,0.662522,0.311711,0.520068
r7,0.546710,0.184854,0.969585,0.775133,0.939499,0.894827,0.597900,0.921874
r8,0.088493,0.195983,0.045227,0.325330,0.388677,0.271349,0.828738,0.356753

In [6]:
#selecting a segment of the dataframe using the indexes.
#selecting row 3 and row 5 and columns 6 and 8 in these rows
DF.loc[['r3', 'r5'], ['c6', 'c8']]

          c6        c8
r3  0.139494  0.366362
r5  0.097672  0.440152

# Data Slicing:
this is used in order to fetch a segment of the dataframe. We specify the range by using the colon ':' and this can be seen that the left is non-inclusive and the right argument is included while retrieving.

In [7]:
series_1['row a ': 'row f']

row b    1
row c    2
row d    3
row e    4
row f    5
dtype: int32

### comparing the terms inside the dataframe with a constant

In [8]:
DF< .25
#this will compare the scalar values with all the elements in the dataframe and generate a boolean value

       c1     c2     c3     c4     c5     c6     c7     c8
r1  False  False  False  False   True   True   True  False
r2  False  False   True  False  False   True   True   True
r3  False  False  False  False  False   True  False  False
r4  False  False   True  False  False   True  False   True
r5   True  False  False  False  False   True  False  False
r6   True  False   True  False  False  False  False  False
r7  False   True  False  False  False  False  False  False
r8   True   True   True  False  False  False  False  False

### Filtering can be done by providing an argument that compares the elements with a scalar

In [9]:
#display only the elements that have the value more than 4
series_1[series_1> 4]

row f    5
row g    6
dtype: int32

### Manipulating multiple entries in the dataframe and setting them a scalar value

In [10]:
#Lets allocate multiple rows a scalar value of 0
series_1['row e', 'row b', 'row c', 'row f'] = 0
series_1

row a    0
row b    0
row c    0
row d    3
row e    0
row f    0
row g    6
dtype: int32